body {
	font-size: 18px;
	background-color: rgba(254, 245, 231, 0.6);
}

.divInput {
	margin: 30px;
	text-align: center;
}

.inputText {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: red;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 28px;
}

.textarea {
	display: block;
	margin: auto;
	margin-top: 20px;
}

button {
	height: 50px;
	width: 160px;
	color: white;
	font-weight: bold;
	background-color: red;
	border-radius: 15px;
	font-size: 14px;
	display: block;
	margin: auto;
	margin-top: 25px;
}

button:HOVER {
	font-size: 15px;
	background-color: green;
}

.divText {
	width: 57%;
	text-align: justify;
	border-right: 1px solid black;
	padding: 15px;
	float: left;
}

.empty {
	background: transparent;
}

.allocateYellow {
	background-color: yellow;
}

.allocateRed {
	background-color: red;
}

.divDiction {
	width: 35%;
	padding: 15px;
	float: right;
}

div h1 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: red;
}