body {
	font-size: 18px;
	background-image: url("alfabet.jpg");
	background-size: cover;
}

.box {
	background-color: black;
	height: 30px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	color: white;
	font-size: 14px;
	margin: 0 auto;
}

.boxSpan {
	padding: 8px;
	position: absolute;
}

.divInput {
	margin: 30px;
	text-align: center;
}

.inputText {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: red;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-size: 28px;
	overflow: scroll;
}

.textarea {
	display: block;
	margin: auto;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

button {
	height: 50px;
	width: 160px;
	color: white;
	font-weight: bold;
	background-color: rgb(74, 67, 67);
	border-radius: 15px;
	font-size: 14px;
	display: block;
	margin: auto;
	margin-top: 25px;
}

button:HOVER {
	font-size: 14.2px;
	background-color: rgb(38, 30, 30);
}

.divText {
	width: 57%;
	text-align: justify;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.6);
	float: left;
}

.divDiction {
	width: 35%;
	padding: 15px;
	float: right;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}

div p {
	overflow: auto;
	height: 290px;
	width: 100%;
	font-size: 18px;
	margin-top: 20px;
}

span:not([class="allocate"]):HOVER {
	background-color: rgba(255, 215, 0, 0.6);
}

.allocate {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.empty {
	background-color: transparent;
}

div h1 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	color: #2E2E2E;
	margin-bottom: 10px;
}
